  <div class="cdf">

  </div>
  <div class="container-fluid">
  <section id="next-section" class="probootstrap-section">
    <div class="container">
    <h1 class="probootstrap-animate">Listings</h1>
        <div class="col-md-3 col-sm-3 probootstrap-block-image">
          <div class="text">
            <%= form_tag listings_path, :method=> "get" do %>
            <%= select_tag :main_category, options_for_select([['For Rent'], ['For Sale']]), class:"form-control"%><br>
            <label for="">No of bedrooms</label><br>
            <%= select_tag :rooms, options_for_select([['Bedrooms', 0], ['1+', 1], ['2+', 2], ['3+', 3], ['4+', 4], ['5+', 5]]), class:"form-control"%><br>
            <label for="">No of bathrooms</label><br>
            <%= select_tag :bathrooms, options_for_select([['Bathrooms', 0], ['1+', 1], ['2+', 2], ['3+', 3], ['4+', 4], ['5+', 5]]), class:"form-control"%><br>
            <label for="">Size</label><br>
            <%= text_field_tag :size, params[:size], class:"form-control" %><br>
            <label for="">Min price</label><br>
            <%= text_field_tag :min_price, params[:min_price], class:"form-control" %><br>
            <label for="">Max price</label><br>
            <%= text_field_tag :max_price, params[:max_price], class:"form-control" %><br>
            <%= submit_tag("Search", :name => nil) %>
            <% end %>
          </div>
          <br>
        </div>
        <% @listings.each do |listing| %>
        <div class="col-md-9 col-sm-9 probootstrap-animate">
          <div class="probootstrap-block-image">
            <div class="row">
              <div class="col-md-5">
                <figure>
                  <a href="/listings/<%= listing.id %>"><%= image_tag listing.images.first.variant(resize: "444x325") %></a>
                </figure>
              </div>
              <div class="col-md-7 text">
                <h3 class="mb30">
                  <a href="/listings/<%= listing.id %>"><%= listing.asset_name %></a>
                </h3>
                <p class="dark"><%= truncate(listing.description) %></p>
                <p class="secondary-color rate">
                  <i class="icon-star-full"></i>
                  <i class="icon-star-full"></i>
                  <i class="icon-star-full"></i>
                  <i class="icon-star-full"></i>
                  <i class="icon-star-half"></i>
                </p>
                <h4 class="mb30">
                  Asking price: <%= listing.pricing %>
                </h4>
                <hr>
              </div>
            </div>
          </div>
        </div>
        <% end %>
    </section>
</div>
