<p id="notice"><%= notice %></p>

<%= image_tag(@listing_category.image.variant(resize: "400x400")) if @listing_category.image.attached? %>
<p>
  <strong>Name:</strong>
  <%= @listing_category.name %>
</p>

<%= link_to 'Edit', edit_listing_category_path(@listing_category) %> |
<%= link_to 'Back', listing_categories_path %>
