<div class="cdf"></div>
<div class="container">
  <section id="next-section" class="probootstrap-section">
      <div class="probootstrap-animate">
        <div class="probootstrap-block-image">
          <div class="row">
          <div class="col-md-9">
            <h1 class="mb30">Your Listings</h1>
            <a href="/listings/new" class="btn btn-ghost">List a new property</a><br><br>
            <% if @listings.any? %>
            <% @listings.each do |listing| %>
            <div class="col-md-9 col-sm-9 probootstrap-animate">
              <div class="probootstrap-block-image">
                <div class="row">
                  <div class="col-md-5">
                    <% if listing.images.attached?%>
                    <figure>
                      <a href="/listings/<%= listing.id %>"><%= image_tag listing.images.first.variant(resize: "444x325") %></a>
                    </figure>
                    <% end %>
                  </div>
                  <div class="col-md-7 text">
                    <h3 class="mb30">
                      <a href="/listings/<%= listing.id %>"><%= listing.asset_name %></a>
                    </h3>
                    <p class="dark"><%= truncate(listing.description) %></p>
                    <p class="secondary-color rate">
                      <i class="icon-star-full"></i>
                      <i class="icon-star-full"></i>
                      <i class="icon-star-full"></i>
                      <i class="icon-star-full"></i>
                      <i class="icon-star-half"></i>
                    </p>
                    <h4 class="mb30">
                      Asking price: <%= listing.pricing %>
                    </h4>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        <%= link_to edit_listing_path(listing) do %>
                        <button type="button" class="btn btn-success">Edit</button>
                        <% end %>
                      </div>
                      <div class="col-md-6">
                        <%= link_to  listing, :method => :delete, data: { confirm: 'Are you sure?' } do %>
                        <button type="button" class="btn btn-danger">Delete</button>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
            <% else %>
            <h3 class="mb30">You have no listings yet.</h3>
            <% end %>
          </div>
          <div class="col-md-3 text">
          <h1>Profile</h1>
          <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar.variant(resize: "400x400"), class:"img-responsive" %>
          <% else %>
          <p>Update your avatar. Click on edit profile</p>
          <% end %>
            <br>
            <label for="">Full name</label>
            <h3 class="mb30"><%= @user.first_name %> <%= @user.last_name %></h3>
            <label for="">Email</label>
            <h3 class="mb30"><%= @user.email %></h3>
            <label for="">Phone number</label>
            <h3 class="mb30"><%= @user.number %></h3>
            <label for="">Website</label>
            <h3 class="mb30"><a href="<%= @user.website %>"><%= @user.website %></a></h3>
            <label for="mb30">facebook</label><br>
            <a href="<%= @user.facebook %>" target="_blank"><%= @user.facebook %></a><br>
            <label for="">twitter</label><br>
            <a href="<%= @user.twitter %>" target="_blank"><%= @user.twitter %></a><br>
            <label for="">Instagram</label><br>
            <a href="<%= @user.instagram %>" target="_blank"><%= @user.instagram %></a><br>
            <a href="/users/<%= @user.id %>/edit" class="btn btn-ghost" style="text-align:center;">Edit profile</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
