<!-- START: section -->
<section class="probootstrap-intro homepage-intro" style="background-image: url(img/bwbackground.jpg);" data-stellar-background-ratio="0.5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 probootstrap-intro-text">
        <h1 class="probootstrap-animate" style="text-align:center;">Saka bila shaka.</h1>
        <div class="probootstrap-block-image probootstrap-animate" style="background-color:#eff2f7; opacity: 0.9;">
          <div class="text">
           <%= form_tag listings_path, :method=> "get" do %>
           <div class="row">
           <%= select_tag :main_category, options_for_select([['For Rent'], ['For Sale']]), :class=> "col-md-3 form-control"%><br>
             <%= text_field_tag :location, params[:location], class:"col-md-9 form-control", placeholder:"Enter a location, town, suburb..." %>
                 <%= select_tag :listing, options_for_select(@listing_categories.collect {|u| [u.name, u.id] }), class:"col-md-3 form-control" %><br>
           <%= select_tag :rooms, options_for_select([['Bedrooms', 0], ['1+', 1], ['2+', 2], ['3+', 3], ['4+', 4], ['5+', 5]]), class:"col-md-2 form-control"%><br>
             <%= select_tag :bathrooms, options_for_select([['Bathrooms', 0], ['1+', 1], ['2+', 2], ['3+', 3], ['4+', 4], ['5+', 5]]), class:"col-md-2 form-control"%><br>
             <%= text_field_tag :min_price, params[:min_price], class:"col-md-2 form-control", placeholder:"min price" %><br>
             <%= text_field_tag :max_price, params[:max_price], class:"col-md-2 form-control", placeholder:"max price" %><br>
           <div class="col-md-1">
             <%= submit_tag("Search", :name => nil)  %>
           </div>
         </div>
           <% end %>
         </div>
        </div>
      </div>
    </div>
  </div>
  <a class="probootstrap-scroll-down js-next" href="#next-section">Scroll down
    <i class="icon-chevron-down"></i>
  </a>
</section>
<!-- END: section -->
<section class="probootstrap-section">
  <div class="container">
    <h1>Our latest listings.</h1>
    <div class="row">
      <% @listings.each do |listing| %>
  <div class="col-md-4 col-sm-6 probootstrap-animate">
    <div class="probootstrap-block-image">
      <% if listing.images.exists? %>
      <figure><a href="/listings/<%= listing.id %>" class="img-responsive"><%= image_tag listing.images.last %></a></figure>
      <% end %>
      <div class="text">
        <h3 class="mb30"><a href="/listings/<%= listing.id %>"><%= listing.asset_name %></a></h3>
        <p class="dark">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        <p class="secondary-color rate"><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-half"></i></p>
        <hr>
        <p class="clearfix like"><a class="pull-left" href="#"><i class="icon-thumbs-up"></i> 5,216</a> <a class="pull-right" href="#"><i class="icon-thumbs-down"></i> 32</a></p>
      </div>
    </div>
  </div>
  <% end %>
  </div>
<br>
</div>
</section>
