<script>
  !function (f, b, e, v, n, t, s) {
    if (f.fbq)
      return;
    n = f.fbq = function () {
      n.callMethod
        ? n.callMethod.apply(n, arguments)
        : n.queue.push(arguments)
    };
    if (!f._fbq)
      f._fbq = n;
    n.push = n;
    n.loaded = !0;
    n.version = '2.0';
    n.queue = [];
    t = b.createElement(e);
    t.async = !0;
    t.src = v;
    s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s)
  }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '960922040941212');
  fbq('track', 'SubmitApplication');
</script>

<div class="cdf"></div>

<div class="container-fluid">
  <section id="next-section" class="probootstrap-section">
    <div class="container">

      <h1>Our packages.</h1>
      <% @subscriptions.each do |subscription|%>
      <div class="col-md-4 col-sm-4 probootstrap-animate">
        <div class="probootstrap-block-image subscription-box">
          <h3><%= subscription.name %></h3>
          <br>
          <img src="https://img.icons8.com/color/78/000000/gold-pot.png">
          <p>Starting from <span style="font-size:40px;"><%= subscription.price %></span>KSH.</p>
          <p>Featrues: </p>
          <%= subscription.features %>

          <% if current_user.following?(subscription) == true %>
          <%= link_to unsubscribe_path(subscription) do %>
          <button type="button" class="btn btn-default">Unsubscribe</button>
          <% end %>
          <% else %>
          <%= link_to subscribe_path(subscription) do %>
          <button type="button" class="btn btn-ghost">Subscribe</button>
          <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </section>
</div>
