<div class="p-form">
  <%= form_with(model: @payment, local: true) do |form| %>
  <div class="row">
    <% if @payment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

        <ul>
        <% @payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field col-md-7">
      <%= form.label :ref, "Mpesa refrence number" %><br>
      <%= form.text_field :ref, class:"form-control" %>
    </div>

    <div class="field col-md-7">
      <%= form.label :amount %><br>
      <%= form.number_field :amount, class:"form-control" %><br>
    </div>


    <div class="actions col-md-7">
      <%= form.submit "Submit", class: "btn btn-info" %>
    </div>
  </div>
  <% end %>

</div>
