<!DOCTYPE html>
<html>
  <head>
    <title>Tusake</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "shared/head"%>
  </head>

  <body>
    <% unless controller_name == 'payments' %>
    <%= render "shared/navbar"%>
    <% end %>
    <%= yield %>
    <% unless controller_name == 'payments' %>
    <%= render "shared/footer" %>
    <% end %>
  </body>
  <%= render "shared/script" %>
</html>
